{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block content %}
<div class="row">
    <div class="col-lg-9 col-md-6 col-sm-12 mx-auto">
        <div class="card mb-4 box-shadow">
            <div class="card-header text-center">
                <h4 class="my-0 font-weight-normal">{{object.name|title}}</h4>
            </div>
            <div class="card-body text-center">
                <h1 class="card-title pricing-card-title">{{object.price}}р.</h1>
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    <img class="card-img-top" src="{{ object.preview|mymedia }}"
                         alt="Card image cap">
                    <li>- {{object.category|title}}</li>
                    <li>- {{object.description}}</li>
                    <li>- создано:{{object.created_at}}</li>
                    <li>- изменено:{{object.updated_at}}</li>
                    <li>- продавец:{{object.user}}</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
